<h1>Binky</h1>
<p>
	Binky is a rabbit habitat management tool. Using Binky, you can create, manage, and arrange</p>
	<div><a href="barns#index">Barns</a></div> 
	<div><a href="blocks#index">Blocks</a></div> 
	<div><a href="stacks#index">Stacks</a></div> 
	<div><a href="cages#index">Cages</a></div> 
    <div><a href="geometries#index">Geometries</a></div>
</p>

